.container {
    display: flex;
    max-width: 76rem;
    margin: 60px auto auto;
    gap: 25px;
    padding: 20px;
}

.leftside {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #ffc7c7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.leftside a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    padding: 12px 15px;
    margin: 10px 0;
    background-color: #fff4f4;
    border-radius: 30px;
    border: 1px solid #ff9e9e;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.leftside a:hover {
    background-color: #ff9e9e;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.leftside a svg {
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.rightside {
    flex-basis: 80%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid #ffc7c7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.rightside h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.rightside p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}