.container {
    background-color: #fffcfc;
    display: flex;
    justify-content: space-between;
    width: 73rem;
    margin: 60px auto auto;
    border: solid 1px;
    border-color: #ffc7c7;
    border-radius: 20px;
    padding: 60px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.leftside {
    margin: 150px auto auto 100px;
    width: 320px;
    position: sticky;
    top: 150px;
    height: 300px;
}
.rightside {
    margin: auto 100px auto auto;
    padding: 20px 0 20px;
}
input, select, textarea {
    width: 28rem;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid 0.5px;
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #4a4a4a;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
input[type=radio] {
    display: none;
}
input:focus, textarea:focus {
    background-color: #fff2f2;
}
.stars{
    display:flex;
    align-items:center;
    gap:30px;
}

.stars i{
    color:#D3D3D3;
    font-size:35px;
    cursor: pointer;
    transition:color 0.2s ease;
}

.stars i.active {
    color:#f54748;
}

.btn.submit {
    margin-top: 20px;
}
textarea {
    resize: vertical;
}

.resmsg {
    padding-top: 10px;
}