body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    cursor: default;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 304px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.blood-svg {
    width: 14px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: 0.5s;
}

button:hover {
    background-color: #0056b3;
    transition: 0.5s;
}

.register-link {
    display: block;
    margin-top: 15px;
    color: #28a745;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        padding: 12px;
    }
}